/*#canvas-container {
  margin: auto;
}*/

#game-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.game-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: transparent;
}

.title {
  display: block;
  margin: auto;
  text-align: center;
}

.instructions {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 24px;
}

.credit-link {
  display: block;
  margin: auto;
  text-align: center;
}
